/*** General Form Fields ***/

/*** Edit Blog and Articles ***/

.controller-cms #content .main-content h1{
  margin: 0 0 10px 0;
  padding: 0;
  color: #172738;
  border-bottom: none;
  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  font-variant: normal;
}

.controller-cms #content .main-content form{
  font-size: 14px;
  font-family: Arial;
}

.controller-cms #content .main-content form .required-field .pseudoformlabel,
.controller-cms #content .main-content form .required-field label.formlabel:after {
  color: #FF0366;
  font-size: 14px;
  font-weight: 500;
}

.controller-cms #content .main-content .formlabel{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  padding: 10px 0 5px 0;
  color: #231f20;
  font-size: 14px;
}

.controller-cms #content .main-content .formfieldline .formfield code{
  display: block;
  width: auto;
  height: 30px;
  padding: 2px 0px 2px 0px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-family: Arial, helvetica;
}

.controller-cms #content .main-content .formfieldline .formfield code *{
  display: inline;
}

.controller-cms #content .main-content .formfieldline .formfield input[type="text"]{
  padding: 6px;
  color: #585858;
  background: #FFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  font-family: Arial, helvetica;
}

.controller-cms #content .main-content .formfieldline textarea{
  max-width: 500px;
  padding: 6px;
  color: #585858;
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, helvetica;
  font-size: 15px;
}

.controller-cms #content .main-content .formfieldline .formfield code input[type="text"]:hover,
.controller-cms #content .main-content .formfieldline .formfield code input[type="text"]:focus,
.controller-cms #content .main-content .formfieldline textarea:hover,
.controller-cms #content .main-content .formfieldline textarea:focus{
  border: 1px solid #172738;
}

.controller-cms #content .main-content .formfieldline .type-file .type-file .formlabel{
  display: none;
}

.controller-cms #content .main-content .formfieldline .type-file .type-file .type-text .formlabel{
  display: block;
}

.controller-cms #content .formfield #article_image_builder_uploaded_data,
.controller-cms #content .formfield #article_image_builder_label{
  height: 19px;
  padding: 6px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  text-indent: 0px;
}

.controller-cms #content .formfield #article_image_builder_uploaded_data:hover,
.controller-cms #content .formfield #article_image_builder_label:hover,
.controller-cms #content .formfield #article_image_builder_uploaded_data:focus,
.controller-cms #content .formfield #article_image_builder_label:focus{
  border: 1px solid #172738;
}

.controller-cms #content .formfield #fetch-external-feed{
  padding-left: 20px;
  border-radius: 4px;
}

.controller-cms #content .formfield #fetch-external-feed > input{
  height: 13px;
  margin: 8px 8px 8px 0px;
  vertical-align: middle;
  width: 13px;
}

.controller-cms #content .formfield #fetch-external-feed #external-feed-options #external-feed-options-only-once input{
  margin-right: 3px;
  width: 13px;
  vertical-align: middle;
}

.controller-cms #content .formfield #fetch-external-feed #external-feed-options #external-feed-options-only-once label{
  margin-right: 250px;
}

.controller-cms #content .main-content form label.formlabel,
.controller-cms #content .main-content form .article-translation-field {
  font-size: 14px;
  margin-bottom: 5px;
  color: #231f20;
}

.controller-cms #content .main-content form .article-translation-field {
  margin-top: 25px;
  margin-bottom: 15px;
}

.controller-cms #content .main-content form .button-bar input{
  height: 30px;
  padding: 2px 15px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 14px;
}

.controller-cms #content .main-content form .button-bar a span{
  line-height: 32px;
}

.controller-cms #content .main-content form .button-bar input:hover,
.controller-cms #content .main-content form .button-bar a.button:hover{
  background: #3E67B1;
  border-color: #3E67B1;
  color: #FFF;
}

.controller-cms #content .main-content form .button-bar input.button.with-text{
  height: 36px;
}

.controller-cms #content .main-content form .button-bar a.button{
  height: 30px;
  padding: 2px 15px;
  color: #3E67B1;
  background: #FFF;
  border: 1px solid #3E67B1;
  font-size: 14px;
  text-align: center;
}

.controller-cms #content .main-content form .box-title{
  font-size: 15px;
  font-family: Arial, helvetica;
}

.controller-cms #content .main-content #category-ajax-selector{
  border-style: dotted;
}

.controller-cms #content .main-content #category-ajax-selector label{
  font-size: 14px;
}

.controller-cms #content .main-content #category-ajax-selector .select-subcategory-link{
  background: #FFF;
  border: 1px solid #2C66CE;
  color: #2C66CE;
  padding: 3px;
}

.controller-cms #content .main-content #category-ajax-selector .select-subcategory-link:hover{
  background: #2C66CE;
  color: #FFF;
}

.controller-cms #content .main-content .inputosaurus-required{
  background: none;
  border: 1px solid #ccc;
}

.controller-cms #content .main-content .inputosaurus-required:hover,
.controller-cms #content .main-content .inputosaurus-required:focus{
  border: 1px solid #172738;
}

.controller-cms #content .main-content .inputosaurus-required input:hover{
  background: none;
}

#content #edit-article-options h4 {
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#content #edit-article-options div div {
  margin-top: 13px;
  margin-bottom: 13px;
}

/*** Article's edition page ***/
#content .text-editor-sidebar {
  width: 400px;
}

#content .text-editor-sidebar .header{
  padding: 13px 10px;
  color: #172738;
  background: #D3D6DE;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  font-family: Arial;
}

#content .text-editor-sidebar .header a.button.icon-vertical-toggle{
  padding: 0 15px;
  background: #3E67B1;
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  font-family: Arial;
}

#content .text-editor-sidebar .header a.button.icon-vertical-toggle:hover{
  background: #5E82C6;
}

#content .text-editor-sidebar-box{
  background: #ECEDF1;
  border-radius: 4px;
  border: 1px solid #D3D6DE;
}

#content .text-editor-sidebar #published-media .section-title {
  display: inline-block;
}

/*New and Edit Software form*/

.action-software_communities_plugin_myprofile-new_software #content.current-step h3 {
  color: #F50054;
}

.action-profile_editor-edit_software_community #content .main-block form input[type="text"],
.action-software_communities_plugin_myprofile-edit_software #content .main-block form input[type="text"],
.action-software_communities_plugin_myprofile-new_software #content .main-block form input[type="text"] {
  background: none;
  display: block;
  height: 19px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 384px;
  font-size: 15px;
  font-family: arial, helvetica;
  color: #585858;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-block form textarea,
.action-software_communities_plugin_myprofile-new_software #content .main-block form textarea{
  border-radius: 4px;
  font-size: 15px;
  font-family: arial, helvetica;
  padding: 10px;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-block form textarea {
  width: 441px;
  background: none #FFFFFF;
  border: 1px solid #CCCCCC;
  color: #585858;
  word-wrap: break-word;
  resize: none;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-block form input[type="text"] {
  width: 449px;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-block form table input[type="text"] {
  width: 315px;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content #basic-info #profile_change_picture input,
.action-software_communities_plugin_myprofile-new_software #content .formfield input{
  background: none #FFFFFF;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content #basic-info #profile_change_picture input {
  padding-bottom: 14px;
}


.action-software_communities_plugin_myprofile-edit_software #content .main-content #basic-info #community_image_builder_uploaded_data {
  border: none;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content .formfield input {
  text-indent: 0px;
  padding: 0px;
  font-size: 14px;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content form .formlabel,
.action-software_communities_plugin_myprofile-edit_software #content .main-content #profile_change_picture_title label,
.action-software_communities_plugin_myprofile-new_software #content .main-content #profile_change_picture_title label,
.action-software_communities_plugin_myprofile-new_software #content .main-content form label.formlabel.mandatory{
  font-size: 14px;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color: #231f20;
  font-weight: 300;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content form .required-field .formlabel.mandatory:after,
.action-software_communities_plugin_myprofile-new_software #content .main-content form .required-field .formlabel.mandatory:after{
  color: #FF0366;
  font-weight: 500;
}

.action-software_communities_plugin_myprofile-edit_software #content .formfield textarea,
.action-software_communities_plugin_myprofile-new_software #content .formfield textarea{
  background: none #FFFFFF;
  border: 1px solid #CCCCCC;
  color: #585858;
  font-size: 16px;
  width: 100%;
  word-wrap: break-word;
}

.action-software_communities_plugin_myprofile-edit_software #content #finality textarea,
.action-software_communities_plugin_myprofile-new_software #content #finality textarea {
  resize: none;
  height: 100px;
  width: 441px;
}

.action-software_communities_plugin_myprofile-new_software #software-name-field span{
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  min-width: 0;
  width: auto;
}

.action-software_communities_plugin_myprofile-edit_software #software-name-field span #community-identifier,
.action-software_communities_plugin_myprofile-new_software #software-name-field span #community-identifier{
  width: 500px;
  border: 1px solid #ccc;
}

.action-software_communities_plugin_myprofile-new_software #content #software-hostname {
  position: relative;
  color: #aaa;
  font-size: 15px;
  padding: 5px 0px 5px 0px;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-block form #profile_change_picture,
.action-software_communities_plugin_myprofile-new_software #content .main-block form #profile_change_picture {
  border: 1px dotted #ddd;
  margin-top: 10px;
}

.action-profile_editor-edit_software_community #content .main-content form p .required-field,
.action-software_communities_plugin_myprofile-edit_software #content .main-content form p .required-field,
.action-software_communities_plugin_myprofile-new_software #content .main-content form p .required-field {
  max-width: 500px;
  padding: 15px 20px;
  margin: 20px 0 30px 0;
  border: 1px dotted #ccc;
  border-left: 5px solid #FF0366;
  border-radius: 3px;
  display: block;
  background: #fff;
  line-height: 20px;
  font-size: 13px;
}

.action-software_communities_plugin_myprofile-edit_software .explanation,
.action-software_communities_plugin_myprofile-new_software .explanation {
font-style: italic;
font-size: 10px;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content .highlight-error {
  box-shadow: none;
}

.action-software_communities_plugin_myprofile-edit_software  #content .main-content .highlight-error input[type="text"] {
  border: 1px solid #FF0366;
  box-shadow: none;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content #basic-info div {
  margin-bottom: 20px;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content #basic-info #profile_change_picture div {
  margin: 0px;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content #basic-info #profile_change_picture {
  border: none;
}

.action-software_communities_plugin_myprofile-edit_software #content .main-content #basic-info #community_image_builder_label{
  display: none !important;
}

.action-software_communities_plugin_myprofile-edit_software .formfieldline{
  padding: 0px;
}

/* Edit Software tabs */

.action-software_communities_plugin_myprofile-edit_software .main-content .ui-tabs {
  border: none;
}

.action-software_communities_plugin_myprofile-edit_software .main-content .ui-tabs .ui-tabs-nav {
  margin: 0 0 0 1em;
  padding: 0;
  background: none;
  color: #172738;
  border: 0px solid #aaaaaa;
  border-radius: 4px;
  font-weight: bold;
}

.action-software_communities_plugin_myprofile-edit_software .main-content .ui-widget-content .ui-state-default,
.action-software_communities_plugin_myprofile-edit_software .main-content .ui-widget-header .ui-state-default {
  background: #d5d5d5 none;
  color: #555555;
  font-weight: normal;
}

.action-software_communities_plugin_myprofile-edit_software .main-content .ui-widget-content .ui-state-active,
.action-software_communities_plugin_myprofile-edit_software .main-content .ui-widget-header .ui-state-active {
  background: #FFFFFF;
  color: #212121;
  font-weight: normal;
}

.action-software_communities_plugin_myprofile-edit_software .main-content .ui-tabs .ui-tabs-panel {
  display: block;
  padding: 1em 1.4em;
  background-color: #FFFFFF;
  color: #777;
  border-width: 1px;
  font-size: 13px;
  text-decoration: none;
}

/* new community form*/

.action-memberships-new_community #content .main-block form input[type="text"] {
  display: block;
  height: 19px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 384px;
  font-size: 15px;
  font-family: arial, helvetica;
  color: #585858;
}

.action-memberships-new_community .formfield input{
  background: none #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #585858;
  font-size: 16px;
  width: 76%;
  word-wrap: break-word;
  border-radius: 4px;
}

.action-memberships-new_community #content .main-content form label.formlabel{
  font-size: 14px;
  margin-bottom: 5px;
  color:#231f20;
  font-weight: 300;
}

.action-memberships-new_community #content .main-content form .required-field .formlabel:after {
  color: #FF0366;
  font-weight: 500;
}

.action-memberships-new_community .formfield textarea{
  background: none #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #585858;
  font-size: 16px;
  width: 100%;
  word-wrap: break-word;
}

.action-memberships-new_community #content .main-block form #profile_change_picture {
  padding: 0 15px 15px 15px;
  border: 1px dotted #ddd;
  margin-top: 10px;
}

.action-memberships-new_community #content .main-content form p .required-field {
  max-width: 500px;
  padding: 15px 20px;
  margin: 20px 0 30px 0;
  border: 1px dotted #ccc;
  border-left: 5px solid #FF0366;
  border-radius: 3px;
  display: block;
  background: #fff;
  line-height: 20px;
  font-size: 13px;
}

/* Contact new form*/

.action-contact-new #content .main-block form input[type="text"] {
  display: block;
  height: 19px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 384px;
  font-size: 15px;
  font-family: arial, helvetica;
  color: #585858;
}

.action-contact-new .formfield input{
  background: none #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #585858;
  font-size: 16px;
  width: 76%;
  word-wrap: break-word;
  border-radius: 4px;
}

.action-contact-new #content .main-content form label.formlabel{
  font-size: 14px;
  margin-bottom: 5px;
  color:#231f20;
  font-weight: 300;
}

.action-contact-new #content .main-content form .required-field .formlabel:after {
  color: #FF0366;
  font-weight: 500;
}
.action-contact-new #content .main-content form label.formlabel{
  font-size: 14px;
  margin-bottom: 5px;
  color:#231f20;
  font-weight: 300;
}

.action-contact-new #content .main-content form .required-field .formlabel:after {
  color: #FF0366;
  font-weight: 500;
}

.action-contact-new .formfield textarea{
  background: none #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #585858;
  font-size: 16px;
  width: 100%;
  word-wrap: break-word;
}

.action-contact-new #content .main-content form p .required-field {
  max-width: 500px;
  padding: 15px 20px;
  margin: 20px 0 30px 0;
  border: 1px dotted #ccc;
  border-left: 5px solid #FF0366;
  border-radius: 3px;
  display: block;
  background: #fff;
  line-height: 20px;
  font-size: 13px;
}

/* Tasks edition */

.action-tasks-index #content .main-block h1{
  margin: 0px 0 25px 0;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 25px;
}

.action-tasks-index fieldset.filter_fields{
  border: none;
}

.action-tasks-index fieldset.filter_fields legend{
  display: none;
}

.action-tasks-index select{
  background: none;
  border: 1px solid #D3D6DE;
  border-radius: 4px;
  padding: 4px 15px 4px 4px;
  margin: 0px 0px 0px 10px;
  font-size: 14px;
}

.action-tasks-index #content .main-block form input[type="text"] {
  display: block;
  height: 19px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 384px;
  font-size: 15px;
  font-family: arial, helvetica;
  color: #585858;
}

.action-tasks-index .task_box{
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 20px;
  background-color: #ECEDF1;
  color: #172738;
  border: 1px solid #D3D6DE;
}

.action-tasks-index .task_date {
  font-size: 11px;
}

.action-tasks-index .task_accept_radio,
.action-tasks-index .task_reject_radio,
.action-tasks-index .task_skip_radio{
  margin: 5px 4px 15px 15px;
  line-height: 20px;
  position: absolute;
}

.action-tasks-index .task_decisions label{
  margin: 2px 0px 2px 30px;
  line-height: 22px;
}

#content .new-software-form .button-bar .button.with-text.icon-save.submit{
  background: #3E67B1;
  color: #FFF;
}

#content .new-software-form .button-bar .button.with-text.icon-save.submit:hover{
  background: #FFF;
  color: #3E67B1;
}

.action-cms-upload_files #content .main-content form .button-bar a.button.icon-add {
  padding-top: 7px;
  height: 25px;
}

table.cms-articles td:first-child, table.cms-articles th:first-child {
  width: 25%;
}

.action-tasks-index #content .main-content .task_boxes .task_information a {
  color: #2C66CE;
}

.action-tasks-index #content .main-content .task_boxes #task_email {
  font-weight: bold;
}
