/*** Profile homepage ***/

/* Ratings Header */
.profile-homepage #content .organization-average-rating-container {
  margin-top: 21px;
  overflow: auto;
}

.profile-homepage #content .organization-average-rating-container .star-rate-text {
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-right: 5px;
  padding: 4px 0px 0px 3px;
}

.profile-homepage #content .organization-average-rating-container .star-container {
  margin-top: 2px;
}

.profile-homepage #content .organization-average-rating-container .rate-this-organization {
  font-size: 14px;
  margin: 4px 0px 0px 6px;
  padding: 0px 0px 0px 15px;
}

.profile-homepage #content .organization-average-rating-container .rate-this-organization a {
  color: #2c66ce;
  text-decoration: underline;
}

.profile-homepage #content .organization-average-rating-container .star-container .medium-star-negative,
.profile-homepage #content .organization-average-rating-container .star-container .medium-star-positive {
  margin-right: 3px;
}

.profile-homepage #content .communities-ratings-block .button-bar a.button.with-text {
  height: 32px;
  padding: 0px 5px;
  border: 1px solid #3E67B1;
  font-family: 'open_sansbold';
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
}

/* Use report list */

.profile-homepage #content .communities-ratings-block .ratings-title .block-title {
  background: none;
  border-bottom: 1px solid #D3D6DE;
  border-top: none;
  color: #172738;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 0px;
  padding: 0px 0px 12px 4px;
}

.profile-homepage #content .communities-ratings-block .ratings-list .make-report-block {
  margin-top: 0px;
  padding-top: 32px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #D3D6DE;
  border-top: none;
  font-family: Arial;
}

#content #software-information-block-table {
  width: 100%;
}

#content #software-information-block-table h1 {
  font-size: 34px;
}

#content #software-information-block-table #col-profile-big-image {
  padding-right: 0px;
}

#content #software-information-block-table #col-software-name {
  padding-left: 0px;
}


#content .organization-average-rating-container {
  margin-top: 21px;
  overflow: auto;
}

#content .organization-average-rating-container .star-rate-text {
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-right: 5px;
  padding: 4px 0px 0px 3px;
}

#content .organization-average-rating-container .star-container {
  margin-top: 2px;
}

#content .organization-average-rating-container .rate-this-organization {
  font-size: 14px;
  text-decoration: underline;
  margin: 4px 0px 0px 6px;
  padding: 0px 0px 0px 15px;
}

#content .organization-average-rating-container .star-container .medium-star-negative,
#content .organization-average-rating-container .star-container .medium-star-positive {
  margin-right: 3px;
}

/*** Internal Page ***/

#content .main-content .star-page-title,
#content .main-content .star-rate-data {
  max-width: 560px;
}

#content .main-content .star-page-title .title {
  font-size: 34px;
}

#content .main-content .star-rate-data {
  border-bottom: 1px solid #D3D6DE;
  border-top: 1px solid #D3D6DE;
  color: #172738;
  margin-top: 16px;
  padding: 29px 0px 21px 0px;
  overflow: visible;
}

#content .main-content .star-rate-data .star-rate-form .star-rate-text,
#content .main-content .star-rate-data .star-rate-form .star-container {
  display: inline;
  float: left;
}

#content .main-content .star-rate-data .star-rate-form .star-container {
  width: inherit;
  height: 30px;
  padding-left: 6px;
}

#content .main-content .star-rate-data .star-rate-form {
  padding: 0 0 0 37px;
  letter-spacing: 0.1px;
  width: 100%;
}

#content .main-content .star-rate-data .star-rate-form .star-rate-text {
  font-size: 14px;
  padding-top: 4px;
}

#content .main-content .star-rate-data .star-profile-information {
  width: 79px;
}

#content .main-content .star-rate-data .star-profile-information .star-profile-image {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 4px;
}

#content .main-content .star-rate-data .star-profile-information .star-profile-image img {
  height: auto;
  width: 60px;
}

#content .main-content .star-rate-data .star-profile-information .star-profile-name{
  width: 60px;
}

#content .main-content .star-rate-data .star-rate-form .star-container .star-positive {
  background-image: url('../images/star-positive-big.png');
}

#content .main-content .star-rate-data .star-rate-form .star-container .star-negative {
  background-image: url('../images/star-negative-big.png');
}

#content .main-content .star-rate-data .star-rate-form .star-container .star-positive,
#content .main-content .star-rate-data .star-rate-form .star-container .star-negative {
  display: table-cell;
  margin-right: 0px;
  height: 30px;
  width: 28px;
}

#content .main-content .star-rate-data .star-rate-form .star-comment-container {
  padding-top: 23px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-dialog .formlabel,
#content .main-content .star-rate-data .star-rate-form .star-comment-container .formlabel {
  letter-spacing: -0.2px;
  margin-bottom: 2px;
}

#content .main-content .star-rate-data .star-rate-form .star-comment-container #comments_body {
  border-radius: 4px;
  height: 91px;
  background: none #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #585858;
  font-size: 16px;
  width: 100%;
  word-wrap: break-word;
}

#content .main-content .star-rate-data .star-rate-form .star-comment-container .button-bar input {
  background-color: #3E67B1;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  padding: 5px 10px;
  height: 31px;
  line-height: 20px;
  font-family: Arial;
}

#content .main-content .star-rate-data .star-rate-form .star-comment-container .button-bar a {
  display: none;
}

#content .main-content .star-rate-data .star-rate-form .star-comment-container .button-bar {
  margin-top: 20px;
  padding-bottom: 50px;
}

#content .main-content .star-rate-data .star-rate-form .star-notice {
  display: none;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

#content .star-rate-form .star-comment-container .extra-fields-container{
  height: 56px;
  overflow: hidden;
}

#content .star-rate-form .star-comment-container .comments-software-extra-fields {
  height: 0;
  overflow: initial;
}

#content .star-rate-form .star-comment-container .comments-software-extra-fields #input_institution_comments {
  margin-bottom: 19px;
  margin-top: 16px;
  height: auto;
}

#content .star-rate-form .star-comment-container .comments-software-extra-fields #input_institution_comments > label {
  font-size: 12px;
}

#content .star-rate-form .star-comment-container .comments-software-extra-fields #input_institution_comments > input {
  display: block;
  height: 19px;
  width: 335px;
  padding: 6px;
  margin-top: 3px;
  color: rgb(88, 88, 88);
  border: 1px solid rgb(204, 204, 204);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  font-size: 15px;
  font-family: Arial, helvetica;
}

#content .star-rate-form .star-comment-container .comments-software-extra-fields .comments-software-people-benefited,
#content .star-rate-form .star-comment-container .comments-software-extra-fields .comments-software-saved-values {
  font-size: 12px;
  float: left;
  padding-right: 10px;
  height: 50px;
}

#content .star-rate-form .star-comment-container .comments-software-extra-fields .comments-software-saved-values {
  padding-right: 0px;
  height: 70px;
}

#content .star-rate-form .star-comment-container form .formfieldline {
  margin-bottom: 17px;
}

#content .star-rate-form .star-comment-container .comments-display-fields {
  border-bottom: 1px dotted #D3D6DE;
  overflow: auto;
}

#content .star-rate-form .star-comment-container .comments-display-fields:hover span,
#content .star-rate-form .star-comment-container .comments-display-fields:hover span::after {
  opacity: 0.6;
}

#content .star-rate-form .star-comment-container .comments-display-fields span#comments-additional-information {
  float: left;
  padding-bottom: 4px;
  color: #172738;
  font-size: 14px;
  font-weight: 700;
}

#content .star-rate-form .star-comment-container .comments-display-fields span.comments-arrow-down,
#content .star-rate-form .star-comment-container .comments-display-fields span.comments-arrow-up{
  float: right;
}

.action-organization_ratings_plugin_profile-new_rating #content .star-rate-form .star-comment-container .comments-display-fields .comments-arrow-up::after {
  content: url('../images/top-arrow-black.png');
  padding-top: 7px;
  padding-right: 6px;
}

.action-organization_ratings_plugin_profile-new_rating #content .star-rate-form .star-comment-container .comments-display-fields .comments-arrow-down::after {
  content: url('../images/bottom-arrow-black.png');
  padding-top: 7px;
  padding-right: 6px;
}

/*FIX_ME - tmp css solution for development tmp solution, remove when fixed on plugin*/

#content .star-rate-form .star-comment-container .comments-software-extra-fields #organization_rating_people_benefited,
#content .star-rate-form .star-comment-container .comments-software-extra-fields #organization_rating_saved_value,
#content .star-rate-form .star-comment-container .comments-software-extra-fields #people_benefited_tmp,
#content .star-rate-form .star-comment-container .comments-software-extra-fields #saved_value_tmp {
  display: block;
  height: 19px;
  width: 155px;
  margin-top: 4px;
  padding: 6px;
  border: 1px solid rgb(204, 204, 204);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  font-size: 15px;
  font-family: Arial, helvetica;
  color: rgb(88, 88, 88);
}

#content .star-rate-form .star-comment-container .star-tooltip {
  cursor: default;
  content: '?';
  padding-top: 2px;
  background-color: #3867b7;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  height: 15px;
  font-family: arial;
  width: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%
}

.ratings-list {
  color: #172738;
  font-family: Arial, Helvetica, "open_sansregular", sans-serif;
}

.ratings-list .user-rating-block {
  border-bottom: 1px solid #D3D6DE;
  border-top: none;
  padding-bottom: 40px;
  padding-top: 32px;
  margin-top: 0px;
}

.ratings-list .star-profile-information {
  padding: 1px 30px 0px 14px;
  width: 99px;
}

.ratings-list .user-rating-block .star-profile-information .star-profile-name {
  line-height: 16px;
  width: 60px;
}

.ratings-list .star-profile-information .star-profile-image {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 4px;
  margin: auto;
}

.ratings-list .star-profile-information .star-profile-image img {
  height: auto;
  width: 60px;
}

.ratings-list .user-rating-block .user-testimony-container {
  width: 100%;
}

.ratings-list .user-rating-block .user-testimony-container .star-container div {
  display: inline;
}

.ratings-list .user-rating-block .user-testimony-container .user-testimony {
  font-size: 16px;
  line-height: 20px;
  margin-top: 31px;
  min-height: 60px;
}

.star-rate-data .star-rate-form .star-comment-container .formfield textarea {
  width: 100%;
}

.ratings-list .user-rating-block .user-testimony-container .testimony-rate-date {
  display: block;
  float: left;
  padding-right: 0px;
  width: 100px;
}

.ratings-list .star-container {
  display: block;
  float: right;
  width: auto;
}

.ratings-list .star-container .small-star-positive,
.ratings-list .star-container .small-star-negative {
  margin-right: 3px;
}

.ratings-list .user-rating-block .user-testimony-container .testimony-rate-date {
  display: block;
  float: left;
  margin-top: 2px;
}

.ratings-list .user-rating-block .user-testimony-container .additional-informations {
  margin-top: 10px;
}

#content .ratings-title .block-title {
  background: none;
  border-bottom: 1px solid #D3D6DE;
  border-top: none;
  color: #172738;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0px;
  padding: 0px 0px 12px 4px;
}

.ratings-list .make-report-block {
  background-repeat: no-repeat;
  border-bottom: 1px solid #D3D6DE;
  border-top: none;
  margin-top: 0px;
  padding-top: 32px;
}

.make-report-block .star-profile-information {
  padding-right: 13px;
  padding-left: 0px;
}

.make-report-block .star-profile-information .star-profile-name {
  margin-top: 8px;
  width: 60px;
}

.ratings-list .make-report-block .make-report-container {
  padding-top: 2px;
}

.ratings-list .make-report-block .make-report-container .make-report-message {
  font-family: Arial;
  font-weight: 300;
  font-size: 18px;
}

#content .ratings-list .make-report-block .make-report-container .button-bar {
  padding-top: 6px;
}

#content .ratings-list .make-report-block .make-report-container .alert {
  margin-top: 37px;
  padding-left: 1px;
}

#content .ratings-list .make-report-block .make-report-container .button-bar a,
#content .star-rate-data .rating-cooldown .button-bar a,
#content .star-rate-data .rating-vote-once .button-bar a {
  background-color: #3E67B1;
  background-image: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  padding: 8px 12px 8px 8px;
  text-transform: uppercase;
}

#content .star-rate-data .rating-cooldown,
#content .star-rate-data .rating-vote-once {
  font-family: Arial;
  font-size: 18px;
  font-style: italic;
  word-break: break-word;
}

#content .star-rate-data .rating-cooldown .button-bar a.disabled-button,
#content .star-rate-data .rating-vote-once .button-bar a.disabled-button {
  cursor: not-allowed;
  opacity: 0.4;
}

.ratings-list .see-more {
  border-top: none;
}

.ratings-list a.icon-arrow-right-p {
  background: none;
  color: #172738;
  font-family: 'open_sansregular';
  font-size: 11px;
  float: none;
  margin-top: 0px;
  padding-right: 0px;
  padding-top: 22px;
  padding-bottom: 20px;
  text-align: right;
  text-transform: uppercase;
}

.ratings-list a.icon-arrow-right-p::after {
  background-color: #3E67B1;
  border-radius: 4px;
  content: url('../images/right-arrow.png');
  font-size: 15px;
  line-height: 20px;
  margin-left: 9px;
  padding-left: 8px;
  padding-right: 5px;
  text-align: center;
}

/*** Tooltip ***/

.comments-software-extra-fields .tooltip-inner {
  display: block;
}

/*** organization-rating review page (tasks of software) ***/

.task-list .task_boxes{
  font-family: Arial;
}

.task-list .task_boxes .task_box .task_date{
  position: absolute;
  left: 80px;
}

.task_boxes .task_box .task_title{
  position: absolute;
  left: 80px;
  font-weight: 500;
  margin-top: 10px;
}

.task_boxes .task_box .task_responsible{
  text-align: right;
}

.task_boxes .task_box .task_responsible span select{
  padding: 4px 15px 1px 4px;
  width: 97px;
}

.task_boxes .task_box .task_decisions{
  float: right;
  padding-right: 5px;
}

.task_boxes .task_box .task_information{
  margin-top: 40px;
  font-size: 13px;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-people-benefited{
  float: left;
  font-weight: 900;
  margin-right: 10px;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-saved-value{
  font-weight: 900;
  margin-left: 160px;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations{
  margin-top: 10px;
  padding-bottom: 15px;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-user-institution span span{
  font-weight: 900;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-people-benefited span{
  font-weight: 100;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-saved-value span{
  font-weight: 100;
}

.task_boxes .task_box .organization-rating-comment-body .task-comment span{
  font-weight: 600;
  color: rgb(140, 140, 140);
  font-size: 11px;
}

.task_boxes .task_box .organization-rating-comment-body .task-comment{
  margin-bottom: 15px;
  line-height: 25px;
}

.task_boxes .task_box .organization-rating-comment-body .task-comment span p{
  font-weight: 100;
  font-size: 12px;
  color: black;
  line-height: 16px;
}

.task_boxes .task_box .organization-rating-comment-body .task-comment p{
  font-size: 13px;
}

.task_boxes .task_box .organization-rating-comment-body .rating-notice{
  display: block;
  color: #F11467;
  padding: 5px 5px;
  background: #ccc;
}

.task_boxes .task_box .organization-rating-comment-body .task-star-container{
  margin-bottom: 30px;
  margin-top: 10px;
}

.action-tasks-index .task_box{
  padding: 10px;
}

.organization-rating-comment-body .aditional-informations .comments-user-institution{
  border-top: 1px solid #bbb;
  padding-top: 10px;
  margin-bottom: 10px;
}

.organization-rating-comment-body .aditional-informations .already-approved-report{
  border-top: 1px solid #bbb;
  padding-top: 10px;
  padding-top: 20px;
}

.organization-rating-comment-body .aditional-informations .already-approved-report span{
  background: #444444;
  color: white;
  display: block;
  padding: 5px;
  color: #dbdada;
}

/*** end of organization-rating review page (tasks of software) ***/
